<h1>Reading and Cleaning Data</h1>
<p>In this section we will discuss how to import files into python and how to clean and modify these files. A key point to reading files is to remember that the directory you are working in matters.</p>

In [1]:
#Importing Datasets into python

import pandas as pd

house_votes = pd.read_csv('house_2018_bystate.csv')

house_votes

,State,Republican_seats,Democrat_seats,Total_vote,Republican_vote,Democrat_vote,Other_vote,Majority_seats,Majority_votes,Vote_difference,Seat_difference
0,Alabama,6,1,1659895,975737,678687,5471.0,Republican,Republican,297050,5
1,Alaska,1,0,282166,149779,131199,1188.0,Republican,Republican,18580,1
2,Arizona,4,5,2341270,1139251,1179193,22826.0,Democrat,Democrat,39942,1
3,Arkansas,4,0,889298,556339,312978,19981.0,Republican,Republican,243361,4
4,California,7,46,12184522,3973396,8010445,200681.0,Democrat,Democrat,4037049,39
5,Colorado,3,4,2513907,1079772,1343211,90924.0,Democrat,Democrat,263439,1
6,Connecticut,0,5,1379808,520521,849341,9946.0,Democrat,Democrat,328820,5
7,Delaware,0,1,353814,125384,227353,1077.0,Democrat,Democrat,101969,1
8,Florida,14,13,7021476,3675417,3307228,38831.0,Republican,Republican,368189,1
9,Georgia,9,5,3802343,1987191,1814469,683.0,Republican,Republican,172722,4
10,Hawaii,0,2,382332,87348,287921,7063.0,Democrat,Democrat,200573,2
11,Idaho,2,0,595724,367993,207303,20428.0,Republican,Republican,160690,2
12,Illinois,5,13,4539704,1754449,2757540,27715.0,Democrat,Democrat,1003091,8
13,Indiana,7,2,2256149,1247978,1000104,8067.0,Republican,Republican,247874,5
14,Iowa,1,3,1316648,612338,664676,39634.0,Democrat,Democrat,52338,2
15,Kansas,3,1,1050322,563190,464380,22752.0,Republican,Republican,98810,2
16,Kentucky,5,1,1569798,935304,612977,21517.0,Republican,Republican,322327,4
17,Louisiana,5,1,1460593,835715,553184,71694.0,Republican,Republican,282531,4
18,Maine,0,2,623424,250119,343635,29670.0,Democrat,Democrat,93516,2
19,Maryland,1,7,2286284,737906,1493047,55331.0,Democrat,Democrat,755141,6
20,Massachusetts,0,9,2485081,497953,1943597,43531.0,Democrat,Democrat,1445644,9
21,Michigan,7,7,4154703,1853459,2175003,126241.0,Split,Democrat,321544,0
22,Minnesota,3,5,2576996,1125533,1420769,30694.0,Democrat,Democrat,295236,2
23,Mississippi,3,1,938903,471162,398770,68971.0,Republican,Republican,72392,2
24,Missouri,6,2,2418413,1330975,1027969,59469.0,Republican,Republican,303006,4
25,Montana,1,0,504421,256661,233284,14476.0,Republican,Republican,23377,1
26,Nebraska,3,0,696570,432077,264493,NaN,Republican,Republican,167584,3
27,Nevada,1,3,960774,439727,491272,29775.0,Republican,Democrat,51545,2
28,New Hampshire,0,2,570744,248986,311242,10516.0,Democrat,Democrat,62256,2
29,New Jersey,1,11,3098743,1198664,1856819,43260.0,Democrat,Democrat,658155,10
30,New Mexico,0,3,693311,264701,404026,24584.0,Democrat,Democrat,139325,3
31,New York,6,21,5948673,1859074,3990483,99116.0,Democrat,Democrat,2131409,15
32,North Carolina,9,3,3663326,1846041,1771061,46224.0,Republican,Republican,74980,6
33,North Dakota,1,0,321532,193568,114377,13587.0,Republican,Republican,79191,1
34,Ohio,12,4,4406358,2291333,2082684,32341.0,Republican,Republican,208649,8
35,Oklahoma,4,1,1178836,730531,428452,19853.0,Republican,Republican,302079,3
36,Oregon,1,4,1847646,702531,1061412,83703.0,Democrat,Democrat,358881,3
37,Pennsylvania,9,9,4929875,2206260,2712665,10950.0,Split,Democrat,506405,0
38,Rhode Island,0,2,373280,129838,242575,867.0,Democrat,Democrat,112737,2
39,South Carolina,5,2,1709292,927494,758340,23458.0,Republican,Republican,169154,3
40,South Dakota,1,0,335965,202695,121033,12237.0,Republican,Republican,81662,1
41,Tennessee,7,2,2159825,1279655,846450,33720.0,Republican,Republican,433205,5
42,Texas,23,13,8202708,4135359,3852752,214597.0,Republican,Republican,282607,10
43,Utah,3,1,1052506,617307,374009,61190.0,Republican,Republican,243298,2
44,Vermont,0,1,272451,70705,188547,13199.0,Democrat,Democrat,117842,1
45,Virginia,4,7,3312956,1408701,1867061,37194.0,Democrat,Democrat,458360,3
46,Washington,3,7,3021951,1048712,1811371,161868.0,Democrat,Democrat,762659,4
47,West Virginia,3,0,577991,337146,234568,6277.0,Republican,Republican,102578,3
48,Wisconsin,5,3,2571655,1172964,1367492,31199.0,Republican,Democrat,194528,2
49,Wyoming,1,0,201245,127963,59903,13379.0,Republican,Republican,68060,1

In [2]:
#Viewing dataframes .head() . tail()

house_votes.head() #default is 5

#house_votes.tail(10) #change the number displayed

,State,Republican_seats,Democrat_seats,Total_vote,Republican_vote,Democrat_vote,Other_vote,Majority_seats,Majority_votes,Vote_difference,Seat_difference
0,Alabama,6,1,1659895,975737,678687,5471.0,Republican,Republican,297050,5
1,Alaska,1,0,282166,149779,131199,1188.0,Republican,Republican,18580,1
2,Arizona,4,5,2341270,1139251,1179193,22826.0,Democrat,Democrat,39942,1
3,Arkansas,4,0,889298,556339,312978,19981.0,Republican,Republican,243361,4
4,California,7,46,12184522,3973396,8010445,200681.0,Democrat,Democrat,4037049,39

<h1>Cleaning</h1>

<h3>Why would you need to clean data</h3>
<ul>
    <li>Data in columns and rows are not ordered in the correct way</li>
    <li>Creating values or ignoring missing data</li>
    <li>Units are not correct or are wrong in some way</li>
    <li>Order of magnitude is off</li>
    <li>Outliers and skewing of the data</li>
    </ul>

In [ ]:
#dropna

import pandas as pd

star_wars = pd.read_csv('star_wars.csv')

new_star_wars = star_wars.dropna()

new_star_wars.to_string
new_star_wars

In [ ]:
# replace null values

import pandas as pd

star_wars_null = pd.read_csv('star_wars.csv')

star_wars_null.fillna(130, inplace = True)
print(star_wars_null.head())

"""
import pandas as pd

star_wars_null = pd.read_csv('star_wars.csv')

star_wars_null.fillna(130, inplace = True)
print(star_wars_null.head())
"""

In [3]:
#Values

import pandas as pd

demo = pd.read_csv('demo.csv')
demo.columns

Index(['age', 'marital', 'gender', 'address', 'income', 'inccat', 'car',
       'carcat', 'ed', 'employ', 'retire', 'empcat', 'jobsat', 'reside',
       'wireless', 'multline', 'voice', 'pager', 'internet', 'callid',
       'callwait', 'owntv', 'ownvcr', 'owncd', 'ownpda', 'ownpc', 'ownfax',
       'news', 'response'],
      dtype='object')

In [4]:
#Recoding

#values in a variable -> how to recode -> pandas documentation link
import pandas as pd

demo["gender"].value_counts() # what if they are not coded correctly

Male      3209
Female    3165
m           13
f            8
female       4
male         1
Name: gender, dtype: int64

In [5]:
#Changing case values

#demo["gender"].str.lower()

demo["gender"] = demo["gender"].str.lower()

#demo["gender"] = demo["gender"].str.title()

demo["gender"].value_counts()

Male      3210
Female    3169
M           13
F            8
Name: gender, dtype: int64

In [6]:
#recode

demo.loc[demo["gender"].str.contains("F"), "gender"] = "Female"
demo.loc[demo["gender"].str.contains("M"), "gender"] = "Male"
demo["gender"].value_counts()

Male      3223
Female    3177
Name: gender, dtype: int64

In [9]:
#subset

gender = demo["gender"]
gender.head()

0    Female
1      Male
2    Female
3      Male
4      Male
Name: gender, dtype: object

In [12]:
#Subset multiple

gender_income = demo[["gender", "income"]]
gender_income

      gender  income
0     Female      72
1       Male     153
2     Female      28
3       Male      26
4       Male      23
...      ...     ...
6395  Female      15
6396  Female      25
6397    Male      59
6398  Female     123
6399    Male      22

[6400 rows x 2 columns]

In [15]:
#Select values

above_35 = demo[demo["income"] > 35]
above_35.mean()

age        44.836543
address    12.962240
income     97.411556
car        41.264065
employ     13.909275
reside      2.281551
dtype: float64

In [18]:
#Sort

demo.sort_values(by="gender")


demo.sort_values(by=['gender', 'income'], ascending=False).head()

,age,marital,gender,address,income,inccat,car,carcat,ed,employ,...,callid,callwait,owntv,ownvcr,owncd,ownpda,ownpc,ownfax,news,response
76,48,Married,Male,4,1116,$75+,74.1,Luxury,College degree,22,...,Yes,Yes,Yes,Yes,Yes,Yes,No,No,Yes,No
2979,63,Married,Male,1,1033,$75+,73.1,Luxury,College degree,27,...,Yes,Yes,Yes,Yes,Yes,No,No,Yes,Yes,No
1811,64,Married,Male,34,993,$75+,74.3,Luxury,College degree,38,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,No
4928,62,Unmarried,Male,12,874,$75+,74.4,Luxury,College degree,35,...,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,No
149,61,Unmarried,Male,17,837,$75+,73.4,Luxury,High school degree,42,...,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes

In [20]:
#Pivot Table

demo.pivot_table(
    values="age", index="income", columns="ed", aggfunc="mean"
)

ed,College degree,Did not complete high school,High school degree,Post-undergraduate degree,Some college
income,,,,,
9,65.333333,67.142857,65.000000,70.0,65.400000
10,65.000000,66.823529,63.500000,NaN,61.333333
11,52.250000,65.857143,61.300000,NaN,65.000000
12,55.600000,66.200000,48.142857,62.0,37.000000
13,48.600000,52.857143,40.909091,NaN,36.000000
...,...,...,...,...,...
993,64.000000,NaN,NaN,NaN,NaN
1033,63.000000,NaN,NaN,NaN,NaN
1045,NaN,NaN,NaN,55.0,NaN
1070,NaN,NaN,NaN,NaN,57.000000
1116,48.000000,NaN,NaN,NaN,NaN

In [7]:
#Write

demo.to_csv("demo_from_python.csv")